language: php
php:
    - 5.5
    - 5.6
    - 7
    - hhvm
matrix:
    allow_failures:
        -
            php: hhvm
cache:
    directories:
        - $HOME/.composer/cache
sudo: false
install:
    - 'travis_retry composer global require "codeception/codeception:*" "fabpot/php-cs-fixer:*" "phpunit/phpunit-skeleton-generator:*" "phpunit/phpunit:^4.8"'
    - 'travis_retry composer install --no-interaction'
    - './vendor/bin/hidev travis/install'
script:
    - './vendor/bin/hidev travis/script'
after_script:
    - 'if [ $TRAVIS_PHP_VERSION = "5.6" ]; then travis_retry wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi'
